body {
  margin: 0;
  background: transparent;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 99;
}

a {
  color: black;
  text-decoration: none;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: 100%;
  background-color: transparent;
  padding: 0 1rem;
}

/* <ul> */
.navbarNav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.navItem {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.iconButton {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #e4e6eb;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  border: none;
}

.iconButton:hover {
  background-color: #e4e6eb;
  filter: brightness(1.2);
}

.iconButton svg {
  fill: #1d1f23;
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 75px;
  width: 250px;
  transform: translateX(-45%);
  background-color: white;
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: var(--speed) ease;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.menu {
  width: 100%;
}

.menuItem {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menuItem .iconButton {
  margin-right: 0.5rem;
}

.menuItem .iconButton:hover {
  filter: none;
}

.menuItem:hover {
  background-color: #f0f2f5;
}

.iconRight {
  margin-left: auto;
}

@media screen and (max-width: 850px) {
  .navbar {
    display: none;
  }
}
